<div class="container-fluid">
    <!-- Second navbar for categories -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <%= link_to "Vani Tutorials", root_path, class: "navbar-brand" %>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "Home", root_path %> </li>
            <li><%= link_to "About", about_path %></li>
            <!-- <li><a href="#">Services</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">News</a></li> -->
            <li><%# = link_to "Contact", contact_path %></li>
            <li>
              <a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse" href="#nav-collapse1" aria-expanded="false" aria-controls="nav-collapse1">Subjects</a>
            </li>
          </ul>
          <ul class="collapse nav navbar-nav nav-collapse" id="nav-collapse1">
            <!-- <li><a href="#">More...</a></li> -->
            <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Subjects <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Management Process and Organisation Behaviour", mba_path %>
                            </li>
                            <li><%= link_to "Strategic Management", mba_path %>
                            </li>
                            <li><%= link_to "Business Research Methodology", mba_path %>
                            </li>
                            <li><%= link_to "International Business", mba_path %>
                            </li>
                            <li><%= link_to "Mercantile Law", bcom_path %>
                            </li>
                            <li><%= link_to "Indian Constitution", bcom_path %>
                            </li>
                            <li><%= link_to "Investment Management", mba_path %>
                            </li>
                            <li><%= link_to "Financial Services", bcom_path %>
                            </li>
                            <li><%= link_to "Human Resource Management", mba_path %>
                            </li>
                            <li><%= link_to "Training and Development", mba_path %>
                            </li>
                        </ul>
              </li>
            <li><%= link_to "Economics", pu_path %></li>
            <li><%= link_to "Business Studies", pu_path %></li>
            <li><%= link_to "Statistics", pu_path %></li>
            <li><%= link_to "Accounts", pu_path %></li>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    
    
</div><!-- /.container-fluid -->